/* src/components/NavBar/NavBar.css */

.navbar {
  display: flex;
  justify-content: center; /* Centrar la barra de navegación en el contenedor principal */
  align-items: center;
  padding: 15px 30px;
  background-color: #007bff;
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

.navbar-brand {
  font-size: 1.8em;
  font-weight: bold;
  color: white !important;
  text-decoration: none;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}



.cart-widget {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  cursor: pointer;
  color: #f1f1f1;
}

.cart-widget .cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ff3e3e;
  color: white;
  border-radius: 50%;
  padding: 5px 8px;
  font-size: 0.8em;
}

/* Estilos para el dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.dropdown-button:hover {
  color: #ffdd57;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* Mostrar debajo del botón */
  left: 0;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Asegurarse de que el enlace abarque todo el área del <li> */
.navbar .dropdown-menu li {
  padding: 0; /* Elimina el padding del li */
  list-style: none;
}

.navbar .dropdown-menu li a {
  display: block; /* Hace que el enlace sea un bloque para abarcar todo el li */
  padding: 10px 20px; /* Define el área clickeable del enlace */
  text-decoration: none;
  color: black;
  transition: background-color 0.3s ease;
}

.navbar .dropdown-menu li a:hover {
  background-color: #f1f1f1; /* Añade el efecto hover en todo el área clickeable */
  color: black;
}
